Repository dhis2/certification-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-prettier, api-eslint, client-prettier, client-eslint, docker-compose-linter

api-prettier:
  name: api prettier
  entry: npx --prefix api prettier --write --ignore-unknown
  language: system

api-eslint:
  name: api eslint
  entry: npm --prefix api run lint
  language: system
  pass_filenames: false

client-prettier:
  name: client prettier
  entry: npx --prefix client prettier --write --ignore-unknown
  language: system

client-eslint:
  name: client eslint
  entry: npx --prefix client eslint --fix --ext ts,tsx --report-unused-disable-directives --max-warnings 0
  language: system
  pass_filenames: true

docker-compose-linter:
  name: docker-compose-linter
  entry: dclint
  language: node
  additional_dependencies:
  - dclint@3.1.0
  args:
  - --fix
  - --recursive

docs: update README.md
  README.md
Due: none

docs: add architecture diagram
  README.md
Due: none

docs: architecture details
  docs/architecture.md
Due: none

fix: replace deprecated pids_limit with deploy.resources.limits.pids
  compose.prod.yaml
Due: docker-compose-linter

fix: resolve ESLint errors in API and E2E tests
  api/src/modules/audit/services/audit-retention.service.ts
  api/src/modules/mail/services/password-reset-token.storage.ts
  client/e2e/accessibility.spec.ts
  client/e2e/admin.spec.ts
  client/e2e/example.spec.ts
  client/e2e/verify.spec.ts
Due: api-prettier, api-eslint, client-prettier, client-eslint

fix: resolve dependency vulnerabilities and corrupted yarn.lock
  api/package-lock.json
  api/package.json
  api/src/modules/monitoring/services/metrics.service.ts
  api/src/modules/signing/services/canonicalization.service.ts
  api/src/modules/signing/services/key-management.service.ts
  api/src/modules/templates/services/template-validator.service.ts
  client/package.json
  client/vite.config.ts
  client/yarn.lock
Due: api-prettier, api-eslint, client-prettier, client-eslint

chore: switch ACME challenge from DNS (Route53)
  compose.traefik.yaml
Due: docker-compose-linter

chore(deps): update Dockerfiles and dependencies for api and client
  api/Dockerfile
  api/package-lock.json
  api/package.json
  client/Dockerfile
Due: api-prettier

refactor: update architecture docs
  docs/architecture.md
Due: none

feat: add cosign verification action and update CI workflow
  .github/actionlint.yaml
  .github/actions/cosign-verify-ghcr-image/action.yml
  .github/workflows/ci.yml
  actionlint.yaml
Due: none

chore: update Docker configurations and remove Vault integration
  .dockerignore
  .env.example
  .github/actionlint.yaml
  .github/actions/action.yml
  .github/actions/cosign-verify-ghcr-image/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .gitignore
  api/src/config/configuration.ts
  api/src/config/env.validation.ts
  api/src/config/hydrate-secrets-from-files.ts
  api/src/database/data-source.ts
  api/src/database/seeds/seed.ts
  api/src/main.ts
  compose.override.yaml
  compose.prod.yaml
  compose.traefik.yaml
  compose.yaml
  docker/init-vault.sh
  docker/secrets-template/README.md
  docker/vault-config.hcl
  docker/vault-config.prod.hcl
  docs/architecture.md
Due: api-prettier, api-eslint, docker-compose-linter

chore: update environment and Docker configurations for local development
  .env.example
  .github/actionlint.yaml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  compose.traefik.yaml
  compose.yaml
  docker/secrets-template/README.md
  docs/architecture.md
Due: docker-compose-linter

fix: update deploy.yml to ensure proper string interpolation for environment-specific server selection
  .github/workflows/deploy.yml
Due: none

chore: update CI and deploy workflows to set permissions for contents and packages
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore(deps): update package-lock and yarn.lock for dependency versions
  client/package-lock.json
  client/src/hooks/use-auth-axios.ts
  client/yarn.lock
Due: client-prettier, client-eslint

chore: update CI and release workflows to enhance security scanning and permissions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: update CI and deploy workflows for clarity and functionality
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: enhance deploy workflow by adding email environment variable
  .github/workflows/deploy.yml
Due: none

chore: remove container names from Docker Compose files for consistency
  .github/workflows/deploy.yml
  compose.override.yaml
  compose.traefik.yaml
  compose.yaml
Due: docker-compose-linter

chore: update Docker Compose configurations for Redis service
  compose.prod.yaml
  compose.yaml
Due: docker-compose-linter

chore: initialize secret hydration on module import
  api/src/config/hydrate-secrets-from-files.ts
Due: api-prettier, api-eslint

chore: enhance Docker and workflow configurations for email secrets
  .dockerignore
  .github/workflows/deploy.yml
  api/.dockerignore
  api/src/config/hydrate-secrets-from-files.ts
  client/.dockerignore
  compose.prod.yaml
Due: api-prettier, api-eslint, docker-compose-linter

chore: update environment and Docker configurations for OTP encryption
  .env.example
  .github/workflows/deploy.yml
  api/src/config/hydrate-secrets-from-files.ts
  compose.override.yaml
  compose.prod.yaml
  compose.yaml
Due: api-prettier, api-eslint, docker-compose-linter

chore: update Docker configurations to improve Nginx temp file handling
  client/Dockerfile
  client/docker/nginx.conf
  compose.prod.yaml
Due: docker-compose-linter

chore: enhance health check and Nginx configuration for improved service monitoring
  client/Dockerfile
  client/docker/nginx.conf
  compose.yaml
Due: docker-compose-linter

chore: enhance deploy workflow with improved health checks and environment variable validation
  .github/workflows/deploy.yml
Due: none

chore: update Dockerfile and security headers for improved configuration and security
  client/Dockerfile
  client/docker/security-headers.conf
Due: none

chore: update mail configuration and Dockerfile for improved email handling
  .env.example
  api/Dockerfile
  api/src/modules/mail/mail.config.ts
  api/src/modules/mail/services/mail.service.ts
  api/src/modules/templates/templates.controller.ts
Due: api-prettier, api-eslint

feat: add audit log table migration and enhance print styles
  api/src/database/migrations/1737890000000-CreateAuditLogTable.ts
  client/src/components/layout.module.css
  client/src/index.css
  client/src/views/templates/template-preview.module.css
  client/src/views/templates/template-preview.tsx
Due: api-prettier, api-eslint, client-prettier, client-eslint

style: update certificate detail CSS for improved layout
  client/src/views/certificates/certificate-detail.module.css
Due: client-prettier

style: refine certificate detail CSS for enhanced layout and readability
  client/src/views/certificates/certificate-detail.module.css
Due: client-prettier

feat: archive and restore implementations via working-list filter
  api/src/modules/audit/entities/audit-log.entity.ts
  api/src/modules/implementations/__tests__/implementation.controller.spec.ts
  api/src/modules/implementations/__tests__/implementation.service.spec.ts
  api/src/modules/implementations/implementations.controller.ts
  api/src/modules/implementations/services/implementations.service.ts
  api/src/modules/submissions/__tests__/submissions.service.spec.ts
  api/src/modules/submissions/services/submissions.service.ts
  api/test/e2e/implementations.e2e-spec.ts
  client/e2e/implementations.spec.ts
  client/e2e/page-objects/implementations.page.ts
  client/src/hooks/use-implementations.ts
  client/src/views/assessments/create-assessment.tsx
  client/src/views/implementations/implementation-details.module.css
  client/src/views/implementations/implementation-details.tsx
  client/src/views/implementations/implementations-list.module.css
  client/src/views/implementations/implementations-list.tsx
Due: api-prettier, api-eslint, client-prettier, client-eslint

chore: removed deprecated entries from the package-lock.json
  api/package-lock.json
Due: api-prettier

fix(deps): bump nodemailer and resync lockfile
  api/package-lock.json
  api/package.json
Due: api-prettier

feat: add verification commands, score, and notes to template criteria
  api/src/common/constants/template.constants.ts
  api/src/database/migrations/1737910000000-AddCriterionCommandsScoreNotes.ts
  api/src/modules/submissions/dto/submission-response.dto.ts
  api/src/modules/templates/__tests__/criterion.entity.spec.ts
  api/src/modules/templates/__tests__/template-config.dto.spec.ts
  api/src/modules/templates/__tests__/template-loader.service.spec.ts
  api/src/modules/templates/__tests__/templates.controller.spec.ts
  api/src/modules/templates/dto/create-template.dto.ts
  api/src/modules/templates/dto/template-config.dto.ts
  api/src/modules/templates/dto/template-response.dto.ts
  api/src/modules/templates/dto/update-template.dto.ts
  api/src/modules/templates/entities/criterion.entity.ts
  api/src/modules/templates/interfaces/template-definition.interface.ts
  api/src/modules/templates/services/category.service.ts
  api/src/modules/templates/services/criterion.service.ts
  api/src/modules/templates/services/template-loader.service.ts
  api/src/modules/templates/services/template-versioning.service.ts
  api/src/modules/templates/templates.service.ts
  api/templates/dhis2-certification-v1.yaml
  api/templates/schema.json
  client/src/components/assessment/control-card.module.css
  client/src/components/assessment/control-card.tsx
  client/src/components/templates/criterion-row.module.css
  client/src/components/templates/criterion-row.tsx
  client/src/types/assessment.ts
  client/src/types/template.ts
  client/src/utils/template-validation.ts
  client/src/views/templates/template-preview.module.css
  client/src/views/templates/template-preview.tsx
Due: api-prettier, api-eslint, client-prettier, client-eslint

fix(client): patch high-severity npm audit findings
  client/package-lock.json
  client/package.json
  client/yarn.lock
Due: client-prettier

fix: satisfy lint on template control-field changes
  api/src/modules/templates/services/template-loader.service.ts
  client/src/views/templates/template-preview.tsx
Due: api-prettier, api-eslint, client-prettier, client-eslint

fix: start Redis via image entrypoint instead of gosu
  compose.yaml
Due: docker-compose-linter

Path conditions:
  api-prettier: any of: ^api/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$ and not (node_modules|dist)
  api-eslint: any of: ^api/src/.*\.ts$
  client-prettier: any of: ^client/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.json$, \.css$ and not (node_modules|dist)
  client-eslint: any of: ^client/.*\.tsx?$
  docker-compose-linter: any of: (docker-)?compose.*\.ya?ml$
