Repository dhis2/certification-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-prettier, api-eslint, client-prettier, client-eslint, docker-compose-linter

api-prettier:
  name: api prettier
  entry: npx --prefix api prettier --write --ignore-unknown
  language: system

api-eslint:
  name: api eslint
  entry: npm --prefix api run lint
  language: system
  pass_filenames: false

client-prettier:
  name: client prettier
  entry: npx --prefix client prettier --write --ignore-unknown
  language: system

client-eslint:
  name: client eslint
  entry: npx --prefix client eslint --fix --ext ts,tsx --report-unused-disable-directives --max-warnings 0
  language: system
  pass_filenames: true

docker-compose-linter:
  name: docker-compose-linter
  entry: dclint
  language: node
  additional_dependencies:
  - dclint@3.1.0
  args:
  - --fix
  - --recursive

feat: publish new template version on changed re-import
  api/README.md
  api/package.json
  api/src/database/seeds/dhis2-certification-template.seed.ts
  api/src/modules/templates/__tests__/template-loader.service.spec.ts
  api/src/modules/templates/__tests__/templates.service.spec.ts
  api/src/modules/templates/services/template-loader.service.ts
  api/src/modules/templates/templates.service.ts
  api/src/templates/dhis2-certification-v1.json
  api/src/templates/dhis2-certification-v1.yml
Due: api-prettier, api-eslint

fix: normalize template weights on import
  api/src/modules/templates/__tests__/template-loader.service.spec.ts
  api/src/modules/templates/services/template-loader.service.ts
  api/templates/dhis2-certification-v1.yaml
Due: api-prettier, api-eslint

fix(ci): isolate prod compose from staging
  .github/workflows/deploy.yml
  compose.prod.yaml
  compose.yaml
Due: docker-compose-linter

fix: parse env booleans so MAIL_ENABLED=false disables mail
  .github/workflows/deploy.yml
  api/src/config/__tests__/env.validation.spec.ts
  api/src/config/env.validation.ts
Due: api-prettier, api-eslint

fix: grant Redis the same volume caps as Postgres
  compose.prod.yaml
Due: docker-compose-linter

feat(assessments): add PDF/HTML export for assessment reports
  client/e2e/assessment-report.spec.ts
  client/src/app/app.tsx
  client/src/views/assessments/assessment-form.tsx
  client/src/views/assessments/assessment-report-model.test.ts
  client/src/views/assessments/assessment-report-model.ts
  client/src/views/assessments/assessment-report.module.css
  client/src/views/assessments/assessment-report.tsx
  client/src/views/assessments/assessment-summary.tsx
  client/src/views/assessments/assessments-list.module.css
  client/src/views/assessments/assessments-list.tsx
  client/src/views/assessments/certificate-result.tsx
  client/src/views/assessments/index.ts
  client/src/views/index.ts
Due: client-prettier, client-eslint

style(assessments): fix prettier formatting in report model test
  client/src/views/assessments/assessment-report-model.test.ts
Due: client-prettier, client-eslint

Path conditions:
  api-prettier: any of: ^api/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$ and not (node_modules|dist)
  api-eslint: any of: ^api/src/.*\.ts$
  client-prettier: any of: ^client/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.json$, \.css$ and not (node_modules|dist)
  client-eslint: any of: ^client/.*\.tsx?$
  docker-compose-linter: any of: (docker-)?compose.*\.ya?ml$
